environment           = "prod"
region                = "us-east-1"
# Replace REGION, ACCOUNT_ID and KEY_ID with your values
kms_key_arn            = "arn:aws:kms:REGION:ACCOUNT_ID:key/EXAMPLE-KMS-KEY"
table_definition_repo = "example-org/dynamodb-table-definitions"
table_definition_path = "tables/app-table.json"

prod_principal_arns = [
  "arn:aws:iam::ACCOUNT_ID:role/app-prod"
]

prod_replica_regions = [
  {
    region_name = "us-west-2"
  }
]

table = {
  billing_mode   = "PROVISIONED"
  read_capacity  = 5
  write_capacity = 5

  tags = {
    Environment = "prod"
  }
}
